<head>
    <script src="/static/sort.js"></script>
    <style>
       table {
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }

        th {
          cursor: pointer;
        }

        th, td {
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2
        }
    </style>
</head>

{% extends "nav.html" %}
{% block content %}


<div>
  <h1>Welcome! {{user}}</h1>
  <!-- <a href="/logout">Logout</a> -->
</div>
<table id='invoices'>
    <tr>
        <th onclick="sortTable(0, 'invoices')"> Customer ID </th>
        <th onclick="sortTable(1, 'invoices')"> ID </th>
        <th onclick="sortTable(2, 'invoices')"> Amount </th>
        <th onclick="sortTable(3, 'invoices')"> Check Number </th>
        <th onclick="sortTable(4, 'invoices')"> Order ID </th>
        <th onclick="sortTable(5, 'invoices')"> Order Date </th>
        <th onclick="sortTable(6, 'invoices')"> Product Description </th>
        <th onclick="sortTable(7, 'invoices')"> Product Cost </th>
    </tr>


    {% for i in labels %}

    <tr>
        <td>{{ labels[i]['customer_id'] }}</td>
        <td>{{ labels[i]['id'] }}</td>
        <td>{{ labels[i]['amount'] }}</td>
        <td>{{ labels[i]['check_number'] }}</td>
        <td>{{ labels[i]['order_id'] }}</td>
        <td>{{ labels[i]['order_date'] }}</td>
        <td>{{ labels[i]['product_desc'] }}</td>
        <td>{{ labels[i]['product_cost'] }}</td>

    </tr>

    {% endfor %}
    {% if customers %}
    {% for i in customers %}
    <tr>
      {% if customers[i]['customer_id'] not in labels %}
      <td>{{ customers[i]['customer_id'] }}</td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endif %}


    </table>
{% endblock %}