{% extends "nav.html" %}
{% block content %}
    <body>

	{% if current_user.is_authenticated %}
	You're logged in already!
	{% else %}

	<form action="/login" method="POST">
	    <div class="login">
		<div class="login-screen">
		    <div class="app-title">
			<h1>Login</h1>
		    </div>
		    <div class="login-form">
			<div class="control-group">
			    <input type="text" value="{{ request.form.username }}" placeholder="username" name="username">
			    <label class="login-field-icon fui-user" for="login-name"></label>
			</div>
			<div class="control-group">
			    <input type="password" value="{{ request.form.password }}" placeholder="password" name="password">
			    <label class="login-field-icon fui-lock" for="login-pass"></label>
			</div>
			<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
			{% if error %}
                <p class="error"> {{ error }}
			{% endif %}
		    </div>
		</div>
	    </div>
	</form>
	{% endif %}
	<ul>
      <li>Admin
      	<ul>
          <li>admin@paragon.com</li>
          <li>admin</li>
      	</ul>
      </li>
      <li>Employee
        <ul>
          <li>joe@paragon.com</li>
          <li>Password123</li>
        </ul>
      </li>
      <li>Customer
      	<ul>
          <li>john.smith@gmail.com</li>
          <li>password1</li>
        </ul>
      </li>
    </ul>
    </body>
{% endblock %}

